* {
  box-sizing: border-box;
}

.width-container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  color: #0C2340;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
  }
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  header .header {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  header .header .left-container {
    flex-wrap: wrap;
  }
}
header .header .left-container .logo img {
  width: 41px;
  height: 41px;
}
@media screen and (max-width: 767px) {
  header .header .left-container .logo img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 767px) {
  header .header .right-container {
    flex-wrap: wrap;
    justify-content: right;
  }
}
@media screen and (max-width: 767px) {
  header .header .right-container .link-container {
    display: none;
  }
}
header .header .right-container .link-container a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  padding-left: 30px;
  font: normal normal bold Helvetica;
  color: #0C2340;
}
header .header .right-container .ham-bar {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header .right-container .ham-bar {
    display: flex;
    justify-content: right;
  }
}
header .header .right-container .ham-bar a img {
  width: 24px;
  height: 24px;
}

main .banner {
  display: block;
  position: relative;
  z-index: -1;
  margin-top: -80px;
}
@media screen and (max-width: 767px) {
  main .banner {
    width: 100%;
  }
}
main .banner img {
  width: 100%;
  height: 666px;
}
@media screen and (max-width: 767px) {
  main .banner img {
    width: 100%;
    height: 300px;
  }
}
main .banner .banner-text {
  display: block;
  position: relative;
  top: -185px;
  left: 151px;
  margin: 0;
  background-color: #0c2340;
  width: 730px;
  padding: 39px 58px 0 48px;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text {
    margin-right: 0;
    width: 310px;
    padding: 15px;
    top: -85px;
    left: 25px;
  }
}
main .banner .banner-text .text h3 {
  margin: 0;
  font-size: 54px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 67px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text .text h3 {
    font: normal normal bold 28px/34px Helvetica Neue;
  }
}
main .banner .banner-text .text p {
  font-size: 24px;
  line-height: 29px;
  font: normal normal normal 24px/29px Helvetica;
  padding: 10px 226px 10px 0;
  color: whitesmoke;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text .text p {
    font: normal normal normal 12px/14px Helvetica Neue;
    padding: 0;
  }
}
main .banner .banner-text .social-platform {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text .social-platform {
    width: 100%;
    padding: 0 15px;
  }
}
main .banner .banner-text .social-platform a {
  display: flex;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text .social-platform a {
    padding: 0 10px;
    width: 16px;
    height: 16px;
  }
}
main .banner .banner-text .social-platform a img {
  width: 26px;
  height: 26px;
}
@media screen and (max-width: 767px) {
  main .banner .banner-text .social-platform a img {
    width: 16px;
    height: 16px;
  }
}
main .recipe {
  padding-bottom: 30px;
}
main .recipe .recipe-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content {
    flex-direction: column-reverse;
    width: 100%;
  }
}
main .recipe .recipe-content .left-container {
  display: flex;
  flex-direction: column;
  margin-right: 192px;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .left-container {
    width: 100%;
    margin: 20px 0;
    padding: 0 50px 0 25px;
  }
}
main .recipe .recipe-content .left-container h3 {
  font-size: 32px;
  margin: 0;
  color: #0C2340;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .left-container h3 {
    font: normal normal bold 24px/29px Helvetica Neue;
  }
}
main .recipe .recipe-content .left-container p {
  font-size: 16px;
  color: #0C2340;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .left-container p {
    font: bold normal normal 12px/14px Helvetica Neue;
    padding-bottom: 20px;
  }
}
main .recipe .recipe-content .left-container .btn-container a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C2340;
  padding: 15px 45px;
  border-radius: 4px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .left-container .btn-container a {
    font: normal normal bold 12px/15px Helvetica Neue;
  }
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .right-container {
    width: 100%;
  }
}
main .recipe .recipe-content .right-container img {
  width: 527px;
  height: 358px;
}
@media screen and (max-width: 767px) {
  main .recipe .recipe-content .right-container img {
    width: 100%;
    height: 254px;
  }
}
main .more-recipes .recipe-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content {
    width: 100%;
    flex-direction: column-reverse;
  }
}
main .more-recipes .recipe-content .left-container {
  display: flex;
  flex-direction: column;
  margin-left: 86px;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .left-container {
    width: 100%;
    margin: 0;
    padding: 20px 57px 0 25px;
  }
}
main .more-recipes .recipe-content .left-container h3 {
  font-size: 32px;
  margin: 0;
  color: #0C2340;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .left-container h3 {
    width: 100%;
    font: normal normal bold 24px/29px Helvetica Neue;
  }
}
main .more-recipes .recipe-content .left-container p {
  font-size: 16px;
  color: #0C2340;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .left-container p {
    width: 100%;
    font: normal normal normal 12px/14px Helvetica Neue;
  }
}
main .more-recipes .recipe-content .left-container .btn-container a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C2340;
  padding: 15px 45px;
  border-radius: 4px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .left-container .btn-container a {
    width: 100%;
    font: normal normal bold 12px/15px Helvetica Neue;
  }
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .right-container {
    width: 100%;
  }
}
main .more-recipes .recipe-content .right-container img {
  width: 527px;
  height: 358px;
}
@media screen and (max-width: 767px) {
  main .more-recipes .recipe-content .right-container img {
    width: 100%;
  }
}
main .sign-up {
  display: flex;
  flex-direction: column;
  background-color: #dbebff;
  margin: 0;
}
@media screen and (max-width: 767px) {
  main .sign-up {
    width: 100%;
    margin-top: 80px;
  }
}
main .sign-up .sign-up-content {
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  main .sign-up .sign-up-content {
    width: 100%;
    padding: 40px 55px 40px 25px;
  }
}
main .sign-up .sign-up-content h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0C2340;
}
@media screen and (max-width: 767px) {
  main .sign-up .sign-up-content h3 {
    width: 100%;
    font: normal normal bold 26px/29px Helvetica Neue;
  }
}
main .sign-up .sign-up-content p {
  padding-bottom: 20px;
  font-size: 16px;
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  color: #0C2340;
}
@media screen and (max-width: 767px) {
  main .sign-up .sign-up-content p {
    width: 100%;
    font: normal normal normal 14px/16px Helvetica Neue;
  }
}
main .sign-up .sign-up-content .btn-container a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C2340;
  padding: 15px 45px;
  border-radius: 4px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  main .sign-up .sign-up-content .btn-container a {
    font: normal normal bold 12px/15px Helvetica Neue;
  }
}
main .explor-our-recipe {
  margin-top: 30px;
  padding-bottom: 80px;
}
main .explor-our-recipe h2 {
  font: normal normal bold 46px/56px Helvetica Neue;
  color: #0C2340;
  margin: 0;
  padding: 20px 0;
  font-weight: bold;
}
main .explor-our-recipe .recipe-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .explor-our-recipe .recipe-container .recipe .img-container {
  position: relative;
  z-index: 0;
}
main .explor-our-recipe .recipe-container .recipe .img-container img {
  width: 324px;
}
main .explor-our-recipe .recipe-container .recipe .text-recipe {
  position: relative;
  background-color: white;
  z-index: 1;
  bottom: 30px;
  left: 15px;
  margin: 0;
  width: 324px;
  box-shadow: 1px 4px 8px gainsboro;
  padding: 10px 10px 20px;
}
main .explor-our-recipe .recipe-container .recipe .text-recipe h3 {
  font: normal normal bold 32px/39px Helvetica Neue;
  color: #0C2340;
}
main .explor-our-recipe .recipe-container .recipe .text-recipe p {
  font: normal normal normal 16px/18px Helvetica Neue;
  color: #0C2340;
}
main .explor-our-recipe .recipe-container .recipe .text-recipe a {
  text-decoration: none;
  font-weight: bold;
  color: #0C2340;
  border-bottom: 2px solid #0C2340;
}
main .explor-our-recipe .btn-container {
  display: flex;
  justify-content: center;
}
main .explor-our-recipe .btn-container a {
  text-decoration: none;
  background-color: #0C2340;
  color: white;
  padding: 20px 30px;
  font-size: 16px;
  text-transform: uppercase;
}

footer .footer-content {
  background-color: #0C2340;
  display: flex;
  flex-direction: column;
}
footer .footer-content .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer-content .links a {
  color: #fff;
  text-decoration: none;
  padding: 20px 30px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid gainsboro;
  font-size: 15px;
  margin: 0;
}
footer .footer-content .social-media {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
footer .footer-content .social-media a {
  margin: 0 20px;
}
footer .footer-content .social-media a img {
  width: 20px;
  height: 20px;
}
footer .footer-content .design p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 0 0 30px;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
